<!--          	<div id="carousel" style="height:100px;width:230px;" class="carousel" data-param-period="2000" data-param-duration="2000" data-param-direction="top" data-param-effect="slide" data-role="carousel">
-->
         	<div id="<%= id %>" style="height:100%;width:100%;" class="carousel" data-param-period="2000" data-param-duration="2000" data-param-direction="top" data-param-effect="slide" data-role="carousel">
        		<div id="slides" class="slides">
	        		<div id="slide1" class="slide image">
	        			<img src="http://imasteboxbeta.imastelabs.com/resources/public/entities/3/logo/39.jpg">
	        		</div>
	        		<div id="slide2" class="slide image">
	        			<img src="http://imasteboxbeta.imastelabs.com/resources/public/entities/4/logo/32.jpg">
	        		</div>
	        		<div id="slide3" class="slide image">
	        			<img src="http://imasteboxbeta.imastelabs.com/resources/public/entities/5/logo/164.jpg">
	        		</div>
	        	</div>
        	</div>